.sectionContainer{
    background-color: white;
    height: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top:20px;
    
}
.headerContainer{
    color: black;
    font-size: 25px;

}
.sectionListItems{
    background-color: white;
  overflow: auto;
  white-space: nowrap;
  background-color: white;
  margin-left: -4px;
  scrollbar-width: none;
}

.imgContainer{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
.link{
    transform: translateY(-130px);
    display: none;
}
.img:hover .link{
    display: inline;
}